Package: com.iOSDesigner.Niki
Name: Niki
Version: 1.1.5
Architecture: iphoneos-arm
Author: iOSDesigner <andereder@yahoo.de>
Section: Themes
Depends: com.anemonetheming.anemone
Maintainer: iOSDesigner <andereder@yahoo.de>

