Package: com.iosdesigner.Niki
Name: Niki
Version: 1.4.0
Architecture: iphoneos-arm
Author: iosdesigner <andereder@yahoo.de>
Section: Themes
Depends: com.spark.snowboard
Maintainer: iosdesigner <andereder@yahoo.de>

