Package: com.iOSDesigner.Niki
Name: Niki
Version: 1.3.0
Architecture: iphoneos-arm
Author: iOSDesigner <andereder@yahoo.de>
Section: Themes
Depends: com.spark.snowboard
Maintainer: iOSDesigner <andereder@yahoo.de>

