Package: com.iOSDesigner.biscuitios11
Name: Biscuit iOS11
Version: 1.1
Architecture: iphoneos-arm
Author: iOSDesigner <andereder@yahoo.de>
Section: Themes
Depends: com.spark.snowboard
Maintainer: iOSDesigner <andereder@yahoo.de>

