Package: com.iOSDesigner.biscuitios11
Name: Biscuit iOS11
Version: 1.2
Architecture: iphoneos-arm
Author: iOSDesigner <andereder@yahoo.de>
Section: Themes
Maintainer: iOSDesigner <andereder@yahoo.de>

