Package: com.iosdesigner.minimalios11
Name: minimal.ios13
Architecture: iphoneos-arm
Maintainer: iOSDesigner
Author: iOSDesigner
Description: colbyashi and I update, minimal.iOS.9 on minimal.iOS12. We've added 70 new icons including: Unc0ver, Sileo, Electra, dribbble and more. minimal.iOS12 now has over 600 icons including two alternative icons (Appstore and iTunes Store).
Section: Themes
Version: 1.1.7
Depiction: https://iosdesigner.github.io/theme.html?themevar=com.iosdesigner.minimalios11
ModernDepiction: https://iosdesigner.github.io/theme.html?themevar=com.iosdesigner.minimalios11
SileoDepiction: https://iosdesigner.github.io/theme.html?themevar=com.iosdesigner.minimalios11
