Package: com.iosdesigner.Sweetpotato1
Name: Sweetpotato1
Architecture: iphoneos-arm
Maintainer: iosdesigner
Description: Sweet Potato is a gradient Theme with more than 100 Icons. I added a Mask for Anemone, Setting Icons edited for Anemone and change. Sections icons added for Cydia. UI-Load Symbol changed in Cydia. These Extras only works with Anemone iOS11 User.    
Author: iosdesigner
Section: Themes
Version: 1.0.1
