Package: com.iOSDesigner.Liberte
Name: Liberte
Architecture: iphoneos-arm
Maintainer: iOSDesigner
Author: iOSDesigner
Depiction: https://iosdesigner.github.io/depictions/?p=com.iOSDesigner.Liberte
Section: Themes
Version: 1.0
