Package: com.iosdesigner.SweetPotato
Name: SweetPotato
Architecture: iphoneos-arm
Maintainer: iOSDesigner
Description: Please read the description! You only get half a packet and you get the other half of the packet after the payment. The theme costs only 1€. unfortunately I have to do that, you can thank the pirate repos. Sweet Potato is a gradient Theme with more than 100 Icons. I added a Mask for Anemone, Setting Icons edited for Anemone and change. Sections icons added for Cydia. UI-Load Symbol changed in Cydia. These Extras only works with Anemone iOS11 User. When     
Author: iOSDesigner
Section: Themes
Version: 1.0.0
